body{
    margin: 0%;
    border: 5px solid black;
  
}

.container{
    display: flex;
}

.lado-1{
    
    width: 600px;
    border: 2px solid black;
}

.lado-2{
  
    width: 600px;
    border: 2px solid black;
}

.lado-3{
   
    width: 600px;
    border: 2px solid black;
}

.subtitulo{
    color: black;
    margin-left: 130px;
    font-size: 30px;
}

p{
    color: black;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
}

.titulo{
    color: black;
    margin-left: 30px;
    font-size: 30px;
    margin-right: 2px;
}

.link{
    margin-top: 280px;
    font-size: 25px;
}

.fundo::before{ 
    background-image: url("../img.web/fundo_canada.jpg");
    background-size: cover;
    opacity: 0.4;
    z-index: -1;   
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 171%;
}

.subtitulo2{
    color: black;
    margin-left: 80px;
    font-size: 25px;
}