body{
    margin: 0%;
    border: 5px solid black;
  
}

.container{
    display: flex;
}

.lado-1{
    
    width: 600px;
    border: 2px solid black;
}

.lado-2{
    
    width: 600px;
    border: 2px solid black;
}

.lado-3{
    
    width: 600px;
    border: 2px solid black;
}

.subtitulo{
    margin-left: 180px;
    color: black;
    font-size: 35px;
    
}

p{
    color: black;
    font-size: 22px;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

.titulo{
    color:black;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.link{
    margin-top: 280px;
    font-size: 25px;
}

.fundo::before{ 
    background-image: url("../img.web/fundo_franca.webp");
    background-size: cover;
    opacity: 0.4;
    z-index: -1;   
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 162%;
}

.subtitulo2{
    margin-left: 115px;
    color: black;
    font-size: 35px;
}