body{
    margin: 0%;
}

.topo{
    display: flex;
    justify-content: center;
    box-shadow: 0px 5px 5px gray;
    position: fixed;
    width: 100%;
    background-color: white;
    
}

.menu{
    display: flex;
    gap: 10%;
    align-items: center;
    width: 40%;
    justify-content: right;
    margin-right: 5%;
    
}

.container{
    display: flex;
    justify-content: center;
    margin-left:1% ;
    gap: 5%;
    margin-top: 3%;
}

.titulo2{
   text-align: center;
}