body{
    margin: 0%;
    border: 5px solid black;
  
}

.container{
    display: flex;
}

.lado-1{
    background-color: green;
    width: 600px;
    border: 2px solid black;
}

.lado-2{
    background-color: yellow;
    width: 600px;
    border: 2px solid black;
}

.lado-3{
    background-color:green;
    width: 600px;
    border: 2px solid black;
}

.subtitulo{
    margin-left: 180px;
    color: black;
}

p{
    color: aliceblue;
}

.titulo{
    color: aliceblue;
}
